<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288840381928-frbfs84ju4ak32tfp4d3unentn9m1nsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288840381928-frbfs84ju4ak32tfp4d3unentn9m1nsa</string>
	<key>API_KEY</key>
	<string>AIzaSyDwCYDMtxie5J_RMO-sOHDemHtDzGWLb6A</string>
	<key>GCM_SENDER_ID</key>
	<string>288840381928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banpofri.otterfishshop.com</string>
	<key>PROJECT_ID</key>
	<string>ottersfishshop</string>
	<key>STORAGE_BUCKET</key>
	<string>ottersfishshop.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288840381928:ios:9fbd53f53209881e18205d</string>
</dict>
</plist>